.model {

  &-title {
    @include title;
    font-weight: 100;
    margin: 40px 0 30px;
    text-align: center;

    span {
      font-family: $hr;
    }
  }

  &-text {
    
    p {
      width: 960px;
      @include text;
      font-weight: 100;
      margin: 0 auto 20px;

      @include respond-to(laptop) {
        width: 800px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-slider {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;

    .swiper {

      &-button {

        &-next {
          width: 80px;
          height: 60px;
          position: absolute;
          top: 50%; right: 20px;
          margin-top: -30px;
          z-index: 100;
          border-radius: 5px;
          background: url('../img/svg/arrow-white-right.svg') center no-repeat;
          background-color: rgba(0, 0, 0, 0.5);
          @include transition;

          &:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.3);
          }
        }

        &-prev {
          width: 80px;
          height: 60px;
          position: absolute;
          top: 50%; left: 20px;
          margin-top: -30px;
          z-index: 100;
          border-radius: 5px;
          background: url('../img/svg/arrow-white-left.svg') center no-repeat;
          background-color: rgba(0, 0, 0, 0.5);
          @include transition;

          &:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.7);
          }
        }

        &-disabled {
          opacity: .2;
        }
      }

      &-slide {

        img {
          max-width: 100%;
          position: relative;
          z-index: 1;
        }

        &:before {
          content: '';
          width: 40px;
          height: 40px;
          display: block;
          border-radius: 5px;
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 200;
          background: rgba(0, 0, 0, .2) url('../img/svg/zoom.svg') center no-repeat;
        }
      }
    }
  }
}