.page {
  margin-top: 18px;

  &-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    &-date {
      color: #999;
      text-transform: uppercase;
      font: 16px/16px $open-r;

      &:after {
        content: '•';
        font: 14px/14px $open-r;
        color: #999;
        display: inline-block;
        vertical-align: top;
        margin: 1px 10px 0;
      }
    }

    &-commnets {
      color: #999;
      font: 16px/16px $open-r;
      text-decoration: none;

      &:before {
        content: $blog;
        font: 15px/15px $icon;
        display: inline-block;
        margin: 0 5px 0 0;
      }

      &:after {
        content: '•';
        font: 14px/14px $open-r;
        color: #999;
        display: inline-block;
        vertical-align: top;
        margin: 1px 10px 0;
      }
    }

    &-pay {
      display: inline-block;
      vertical-align: top;
      margin: -7px 0 0 0;

      &:before {
        color: #999;
        content: $pay-post;
        font: 28px $icon;
      }

      &:after {
        content: '•';
        font: 14px/14px $open-r;
        color: #999;
        display: inline-block;
        vertical-align: top;
        margin: 8px 10px 0;
      }
    }

    &-star {
      opacity: .5;
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      margin-top: -4px;

      &:before {
        content: $star;
        font: 20px/20px $icon;
        color: #ffbf25;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  &-img {
    max-width: 100%;
    display: block;
    margin: 0 0 15px;
  }

  &-copy {
    margin-bottom: 40px;

    &-nav {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 12px !important;

      li {
        width: 33%;
        margin-left: 0 !important;

        a {
          color: #000;
          font: 12px/12px $open-b;
          text-transform: uppercase;
          text-decoration: none;
          position: relative;
          display: inline-block;
          padding-bottom: 3px;
          border-bottom: 2px solid $bg !important;

          &:after {
            content: $arrow-l;
            color: #999;
            font: 16px $icon;
            display: inline-block;
            position: absolute;
            top: -2px; right: -12px;
            @include transition;
            @include transform(rotate(90deg));
          }
        }

        &.active {

          a {
            border-bottom: 2px solid $red-dark !important;

            &:after {
              @include transform(rotate(-90deg));
            }
          }
        }

        &:before {
          display: none !important;
        }
      }
    }

    &-item {

      &-slide {
        margin-right: 20px;

        div {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          text-decoration: none;
          position: relative;

          img {
            width: 40px;
            height: 40px;
            display: block;
            margin: 0 10px 0 0;
            border-radius: 100%;
          }

          a {
            color: #666;
            font: 16px/16px $open-r;
            text-decoration: none;
          }

          .subs {
            color: #fff;
            font: 20px/17px $exo-r;
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 100%;
            display: block;
            background: $blue2;
            position: absolute;
            border: 2px solid $bg;
            bottom: 0; left: 25px;
            z-index: 100;
            @include no-transition;

            &:hover {
              background: $blue2h;
            }

            &.active {
              color: $blue2;

              &:before {
                content: $yes;
                color: #fff;
                font: 8px/21px $icon;
                position: absolute;
                left: 6px;
              }

              &:hover {
                color: $blue2h;
              }
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .slick {

        &-list {

          &:after {
            content: '';
            width: 40px;
            height: 40px;
            display: block;
            position: absolute;
            top: 0; right: 0;
            @include gradient-horizontal(transparent, $bg);
          }
        }
      }
    }
  }

  &-sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    li {
      font: 14px/14px $exo-r !important;
      text-transform: uppercase;
      margin-bottom: 0 !important;
      margin-left: 0 !important;

      &:before {
        display: none !important;
      }

      &:first-child {

        &:after {
          content: '';
          width: 6px;
          height: 6px;
          display: inline-block;
          background: $red-dark;
          vertical-align: top;
          margin: 4px 10px 0;
        }
      }
    }
  }

  &-primerka {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 40px;
    margin: 35px 0 40px;

    &-autor {
      width: 100px;
      height: 100px;
      position: relative;

      img {
        width: 100px;
        height: 100px;
        display: block;
        position: relative;
        margin: 0 auto;
        z-index: 1;
        border-radius: 100%;
      }
      
      .subs {
        color: #fff;
        font: 26px/21px $exo-r;
        width: 26px;
        height: 26px;
        text-align: center;
        text-decoration: none;
        border-radius: 100%;
        display: block;
        background: $blue2;
        position: absolute;
        bottom: 0; right: 0;
        z-index: 2;
        border: 2px solid #fff;

        &:hover {
          background: $blue2h;
        }

        &.active {
          color: $blue2;

          &:before {
            content: $yes;
            color: #fff;
            font: 12px/29px $icon;
            position: absolute;
            left: 6px;
          }

          &:hover {
            color: $blue2h;
          }
        }
      }
    }

    &-info {

      &_name {
        color: #000;
        font: 30px/36px $exo-r;
        text-align: center;
        margin: 20px 0;
      }

      &_rang {
        color: #333;
        font: 22px/22px $open-l;
        text-align: center;
        margin-bottom: 25px;
      }

      &_text {
        color: #333;
        font: 16px/16px $open-l;
        margin-bottom: 20px;

        span {
          color: #666;
          padding-left: 10px;
        }

        p {
          font: 12px/22px $open-l;
          color: #666;
          margin-top: 10px;
        }
      }
    }
  }

  &-epic {
    padding: 30px 0;
    margin: 30px 0 0px;
    @include rgba-bg(background, #2d527c, .1);

    .container {

      .item {

        p {
          color: #2d527c;
          font: 18px/24px $open-l;

          a {
            color: #2d527c;
            text-decoration: none;
          }
        }

        &:last-child {
          margin-top: 30px;
          padding-top: 30px;
          border-top: 2px solid #4b80bd;
        }
      }
    }
  }

  .button {
    width: 92%;
    margin: 20px 0;
  }

  &-content {

    p {
      color: #000;
      font: 18px/28px $open-l;
      margin-bottom: 30px;

      &.quote {
        color: #000;
        font: 22px/30px $open-l;
        position: relative;

        &.center {
          text-align: center;
        }

        &:before {
          content: '';
          width: 70%;
          height: 2px;
          display: block;
          background: $red-dark;
          margin: 35px auto 20px;
        }

        &:after {
          content: '';
          width: 70%;
          height: 2px;
          display: block;
          background: $red-dark;
          margin: 25px auto 20px;
        }
      }
    }

    .sub {
      font: 18px/28px $open-r;
      padding-bottom: 20px;

      &:after {
        content: '';
        width: 70%;
        height: 100px;
        display: block;
        position: absolute;
        top: -15px; left: -20px;
        background: $red-dark;
        opacity: .1;
      }
    }

    &.color {
      background: rgba(224, 0, 42, 0.1);

      p {
        padding: 20px;
      }
    }

    a {
      color: #000;
      text-decoration: none;
      border-bottom: 2px solid $red-dark;
    }
  }

  &-gallery {
    position: relative;
    margin-bottom: 10px;

    .link {
      display: block;
      text-decoration: none;
      position: relative;

      img {
        max-width: 100%;
      }

      &:before {
        content: $search;
        color: #fff;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 20px/20px $icon;
        position: absolute;
        top: 10px; right: 10px;
        border-radius: 100%;
        z-index: 2;
        background: rgba(0,0,0,.2);
      }
    }

    p {
      width: 80%;
      font: 14px/18px $open-r;
      display: block;
      margin: 10px auto;
      color: #999;

      a {
        color: #999;
        text-decoration: none;
        border-bottom: 1px solid $red-dark;
      }
    }

    .slick {

      &-dots {
        width: 100%;
        position: absolute;
        top: 10px; left: 0;
        display: flex;
        justify-content: center;
        margin: 0 !important;
        padding: 0 !important;

        li {
          width: 6px;
          height: 6px;
          display: block;
          border-radius: 100%;
          margin: 0 2.5px;
          border: 2px solid #fff;
          background: $red-dark;
          opacity: .3;
          padding: 0 !important;
          @include transition;

          button {
            opacity: 0;
          }

          &:before {
            display: none;
          }

          &.slick-active {
            background: $red-dark;
            opacity: 1;
          }

          &:first-child:last-child {
            display: none;
        }
        }
      }

      &-arrow {
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 2;
        top: 40%;
        margin-top: -25px;
        overflow: hidden;
        line-height: 1000px;
        letter-spacing: -9999px;
        background: transparent;
        opacity: .8;
        @include transition;

        &:before {
          color: #fff;
        }

        &:hover {
          opacity: 1;
        }
      }

      &-prev {
        left: 0px;

        &:before {
          content: $arrow-l;
          margin-top: 0;
          display: block;
          font: 30px $icon;
          text-shadow: 1px 1px 3px #000000;
          @include transform(rotate(180deg));
        }
      }

      &-next {
        right: 0px;

        &:before {
          content: $arrow-l;
          margin-top: 0;
          display: block;
          text-shadow: 1px 1px 3px #000000;
          font: 30px $icon;
        }
      }
    }
  }

  &-tags {
    padding: 15px 0 20px;

    a {
      color: #999;
      font-size: 11px;
      display: inline-block;
      padding: 3px 5px 2px;
      text-decoration: none;
      border: 1px solid #ccc;
      margin-right: 5px;
      margin-bottom: 2px;

      &:hover {
        color: $red-dark;
        border-color: $red-dark;
      }
    }
  }

  .wrapper {

    &-carusel {
      display: flex;
      justify-content: flex-end;
      position: relative;
      margin-bottom: 30px;

      p {

        a {
          text-decoration: none;
          border-bottom: 1px solid $red-dark;
        }
      }
    }
  }

  .timeline {
    position: relative;
    background: #fff;
    padding: 30px 0 50px;
    margin-bottom: 40px;

    &-swipe {
      color: #999;
      font: 10px/10px $open-b;
      text-transform: uppercase;
      text-align: left;
      margin: 0 0 30px 20px;

      span {
        display: block;

        &:before {
          content: '←';
          font: 14px/0 $open-b;
          display: inline-block;
          vertical-align: top;
          margin-top: 2.5px;
        }
      }
    }

    .swiper {

      &-container {
        width: 100% !important;
      }

      &-slide {
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 70px;
        border-top: 1px solid #ccc;
        
        img {
          max-width: 100%;
          display: block;
          margin: 0 auto;
        }

        p {
          font: 16px/24px $open-r;
          text-align: left;
          margin: 25px 0 0;
          padding: 0 10px;
          flex: 1 1 auto;

          strong, b {
            font-family: $open-sb;
          }

          &:nth-of-type(2) {
            margin-top: 10px;
            text-align: left;
          }
        }

        span {
          display: block;
          text-align: center;
          font: bold 20px/20px $exo-r;
          position: absolute;
          top: -23px;
          left: 50%;
          transform: translate(-50%, 0);

          &:before {
            content: '';
            width: 5px;
            height: 5px;
            display: block;
            background-color: $red-dark;
            border: 10px solid #fff;
            border-radius: 100%;
            margin: 10px auto;
            position: relative;
            z-index: 3;
          }
        }

        &:after {
          content: '';
          width: 20px;
          height: 1px;
          display: block;
          position: absolute;
          background: #ccc;
          top: -1px; right: -20px;
        }
      }

      &-nav {
        display: none;
      }

      &-wrapper {
        padding-top:3px;
      }
    }
  }

  .blockquote {
    margin: 40px 0 40px;
    position: relative;

    .container {
      padding: 0;
      box-sizing: border-box;
      position: relative;

      p {
        color: #666;
        font: 18px/30px $open-li;
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
      }

      &:before {
        content: '“';
        font: 150px/150px Georgia;
        position: absolute;
        top: -30px; left: -15px;
        color: #000;
        opacity: .1;
      }

      &:after {
        content: '”';
        font: 150px/150px Georgia;
        position: absolute;
        bottom: -100px; right: -15px;
        color: #000;
        opacity: .1;
      }
    }
  }

  .swiper {

    &-container {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    &-slide {
      width: 300px;

      .link {
        width: 300px;
        height: 300px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      p {
        color: #666;
        font: 12px/18px $open-l;
        text-align: left;
        margin: 20px 10px 0;

        a {
          color: #666;
        }
      }
    }
  }

  .paginator {
    background: #efefef;
    padding: 30px 0;
    margin: 40px 0;
    position: relative;
    z-index: 1;
    
    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;

      a {
        color: #999;
        font: 18px/28px $open-l;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:after {
          color: #999 !important;
          content: $arrow-l;
          font: 30px/0 $icon;
          margin-top: 20px;  
          opacity: .3;
          @include transform(rotate(90deg));
        }
      }
    }
  }

  .allpost {
    background: #efefef;
    padding: 0;
    margin: -40px 0 0px;
    position: relative;
    height: 0;
    overflow: hidden;
    z-index: 1;

    .item {

       .img {
        width: 100%;
        height: 200px;
        display: block;
        margin-bottom: 20px;
        background-size: cover;
        background-position: center;
        @include transform(scale(1));
        @include transition;
      }

      p {
        font: 20px/26px $exo-r;
        margin-bottom: 20px;
      }

      &:hover {

        .img {
          @include transform(scale(1.05));
        }
      }
    }

    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px 0px;
    }

    &.active {
      height: auto;
      padding: 30px 0;
    }
  }

  h1 {
    color: #000;
    font: 22px/30px $exo-r;
    margin: 15px 0 16px;
  }

  h2 {
    color: #000;
    font: 20px/28px $exo-r;
    margin: 0 0 16px;
  }

  h3 {
    color: #000;
    font: 18px/26px $exo-r;
    margin: 0 0 16px;
  }

  strong, b {
    font-family: $open-r;
  }

  em, i {
    font-family: $open-l;
    font-style: italic;
  }

  strong em, em strong {
    font-family: $open-i;
  }

  ul, ol {
    margin: 0 0 20px;

    li {
      font: 18px/28px $open-l;
      margin-bottom: 10px;
      position: relative;

      a {
        color: #000;
        text-decoration: none;
        border-bottom: 2px solid $red-dark;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {

    li {
      margin-left: 15px;

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        display: block;
        position: absolute;
        top: 10px; left: -13px;
        background: $red-dark;
      }
    }
  }

  ol {
    counter-reset: ol-counter;
    margin-left: 20px;

    li {
      margin-left: 15px;

      &:before {
        content: counter(ol-counter);
        counter-increment: ol-counter;
        border: 1px solid #ccc;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        color: $red-dark;
        font: 14px/14px $open-r;
        position: absolute;
        top: 4px; left: -35px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  blockquote {
    color: #000;
    font: 16px/26px $open-r;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 20px 20px;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,.2);

    a {
      color: #000;
      text-decoration: none;
      position: relative;
      z-index: 2;
      @include no-transition;

      &:before {
        content: '';
        width: 100%;
        height: 3px;
        display: block;
        position: absolute;
        background: $red-dark;
        bottom: -2px; left: 0;
        @include no-transition;
      }

      &:hover {
        color: #fff;
        background: $red-dark
      }
    }
  }

  table {
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    margin-bottom: 25px;

    thead, tbody {

      tr {

        th {
          color: #333;
          font: 16px/18px $exo-r;
          text-transform: uppercase;
          letter-spacing: .05em;
          text-align: left;
          padding: 0 0 5px 5px;
          border-bottom: 2px solid $red-dark;
        }
      }
    }

    tbody {

      tr {
        @include transition;

        td {
          font: 14px/18px $open-l;
          padding: 6px 7px;
          border-bottom: 1px solid #eee;

        }

        &:hover {
          background: #f8f8f8;
        }
      }
    }
  }
}
