.time {
  padding: 40px 0 60px;
  margin-bottom: -40px;
  background: #333;

  @include respond-to(mobile) {
    margin-top: -30px;
  }

  h2 {
    color: $white;
    text-align: center;
    @include fusion(70px, 80px);

    @include respond-to(mobile) {
      @include fusion(38px, 48px);
    }

    &::after {
      content: '';
      width: 400px;
      height: 3px;
      display: block;
      margin: 30px auto 50px;
      background: $red-club;

      @include respond-to(mobile) {
        margin: 30px auto 30px;
        width: 200px;
      }

    }
  }

  &-item {
    color: #333;
    width: 350px;
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 16px;
    margin-right: 20px;
    @include transform(scale(1));
    @include transition;

    @include respond-to(mobile) {
      width: 300px;
      flex: 0 0 300px;
    }

    &:hover {
      @include transform(scale(1.02));
    }

    .img {
      position: relative;

      img {
        max-width: 100%;
        border-radius: 16px;
        position: relative;
        box-shadow:inset 0 10px 5px 0 rgba(0,0,0,1);
        z-index: 1;
      }

      .live {
        display: flex;
        align-items: center;
        color: $white;
        font: 20px/20px $fus;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;

        &::before {
          content: '';
          width: 10px;
          height: 10px;
          display: block;
          border-radius: 100px;
          background: $red;
          margin-right: 10px;
          animation: pulseRed 1500ms infinite;
        }
      }

      .text {
        width: 150px;
        height: 100%;
        z-index: 2;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        top: 0;
        left: 0;
        margin-top: 0;
        position: absolute;

        p {
          color: #fff;
          margin: 0;
          font: 30px/10px $fus;
        }

        time {
          color: #fff;
          margin: 20px 0 0;
          font: 20px/20px $open-i;
  
          @include respond-to(mobile) {
            font: 16px/16px $open-i;
          }
        }
      }
    }
    p {
      font: 30px/36px $fus;
      margin: 15px 20px 20px;
    }

    &._none {
      cursor: default;
      filter: grayscale(1);
      opacity: .3;

      .text {
        opacity: 1;
      }

      &:hover {
        @include transform(scale(1));
      }
    }
  }

  &-blank {
    flex: 0 0 60px;
  }

  &-wrapper {
    overflow-x: scroll;
    padding-bottom: 20px;

    @include respond-to(hover) {
      &::-webkit-scrollbar {
        width: 0px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba($color: $white, $alpha: .4);    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
        border: 6px solid #333;  /* padding вокруг плашки */
      }
    }
  }

  .container {
    display: flex;
    padding-top: 10px;
  }
}

.block_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 60px 0;
  background: #fff;

  @include respond-to(mobile) {
    padding: 40px 0 40px;
    display: flex;
    overflow-x: scroll;
  }

  &-item {
    flex: 0 0 300px;
    position: relative;

    img {
      max-width: 100%;
      display: block;
      position: relative;
      z-index: 1;
      clip-path: polygon(10.00% 0.00%,100.00% 0.00%,90.00% 100%,0.00% 100%);
    }

    p {
      color: #333;
      font: 50px/50px $fus;
      z-index: 3;
      opacity: 1;
      position: relative;
      text-align: center;
      margin-top: 20px;
      @include transition;
    }

    &:first-child {

      img {
        clip-path: polygon(0.00% 0.00%,100.00% 0.00%,90% 100%,0.00% 100%);
      }
    }

    &:last-child {

      img {
        clip-path: polygon(10.00% 0.00%,100.00% 0.00%,100.00% 100.00%,0.00% 100%);
      }
    }

    &::before, &::after {
      content: '';
      width: 100%;
      height: 0;
      display: block;
      position: absolute;
      background: #fff;
      opacity: .8;
      z-index: 2;
      @include transition-delay(all 500ms ease-in-out, 300ms);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover {

      p {
        color: $red;
      }
      
      &::before, &::after {
        height: 50%;
        @include transition-delay(all 500ms ease-in-out, 0ms);
      }
    }
  }
}

.block_2 {
  display: block;
  background: #fff;
  padding: 40px 0 20px;
  position: relative;
  z-index: 1;

  ._block {

    @include respond-to(mobile) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  a {
    display: block;
  }

  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,.1);

    @include respond-to(mobile) {
      top:0;
      left: 0;
      padding: 10px 0 60px;
      transform: translate(0,0);
      backdrop-filter: blur(0);
      background: none;
      position: relative;
    }
  }

  .partners {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0 40px;

    img {
      margin-bottom: 0;
      position: relative;
      z-index: 1;
    }
  }

  .img {
    max-width: 100%;
    margin-bottom: 30px;
    filter: grayscale(.7);
    position: relative;
    z-index: 1;
    @include transition;
  }

  .title {
    color: #fff;
    font: 80px/100px $fus;
    margin-bottom: 0px;
    @include transition;
    position: relative;
    z-index: 2;

    @include respond-to(mobile) {
      font: 40px/40px $fus;
      margin-bottom: 10px;
      color: #333;
    }
  }

  .text {
    color: #fff;
    font: 40px/60px $open-l;
    margin: 0;
    position: relative;
    z-index: 2;
    text-align: center;
    @include transition;

    @include respond-to(mobile) {
      color: #333;
      font: 30px/36px $fus;
      margin-top: 0px;
    }
  }

  &:hover {

    .img {
      filter: grayscale(0);
    }
  }
}

.block_3 {
  padding: 0px 0 60px;
  background: #333;
  position: relative;
  z-index: 2;

  @include respond-to(mobile) {
    padding-bottom: 80px;
  }

  &-title {
    color: #fff;
    font: 50px/50px $fus;
    margin-bottom: 30px;
    text-align: center;
    @include transition;

    @include respond-to(mobile) {
      font: 40px/40px $fus;
    }

    img {
      height: 130px;
      margin: -30px auto 0px;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    @include respond-to(mobile) {
      grid-template-columns: 100%;
      grid-gap: 20px;
    }

    .item {
      color: #fff;
      border-radius: 20px;
      background: #444;
      overflow: hidden;

      img {
        max-width: 100%;
        position: relative;
        z-index: 1;
        border-radius: 20px;
      }

      p {
        font: 26px/30px $fus;
        padding: 30px;
        position: relative;
        z-index: 2;
      }

      &:hover {
        background-color: #fff;
        color: #333;
      }
    }
  }

  & + .partners {
    margin: 40px 0 0;

    @include respond-to(mobile) {
      margin-bottom: 40px;
    }
  }
}

.block_4 {
  padding: 40px 0 20px;

  @keyframes yourAnimation {
    0.0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
    49.6%{
        transform: scale(1.3);
    }
}

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;

    @include respond-to(mobile) {
      grid-template-columns: 100%;
      grid-gap: 20px;
    }

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include respond-to(mobile) {
        margin-top: 30px;
      }

      img {
        height: 100px;
        margin-bottom: 30px;
      }

      p {
        font: 30px/40px $open-b;
        background: #48C9E0;
        background: -webkit-linear-gradient(to right, #7CC0FF 0%, #4A5DC0 100%);
        background: -moz-linear-gradient(to right, #7CC0FF 0%, #4A5DC0  100%);
        background: linear-gradient(to right, #7CC0FF 0%, #4A5DC0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:hover {
        
        img {
          animation: yourAnimation 2s ease 0s infinite normal none;
        }
      }
    }
  }
}

.block_5 {
  background: #333;
  padding: 40px 0;

  .container {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-gap: 60px;
    font: 50px/50px $fus;

    @include respond-to(mobile) {
      font: 30px/30px $fus;
      grid-gap: 0;
      display: flex;
      flex-direction: column-reverse;
    }

    img {
      max-width: 100%;
      transform: scale(1);
      border-radius: 50px 0;
      @include transition;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #8E91E6;

      @include respond-to(mobile) {
        margin-top: 30px;
      }
    }

    &:hover {

      img {
        transform: scale(1.15);
      }
    }
  }

  &::before {
    content: '';
    width: 60%;
    height: 2px;
    display: block;
    margin: 0 auto 80px;
    background: #8E91E6;
  }
}

.sorokin {
  position: relative;
  background: #fff;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 40px;
    z-index: 2;

    @include respond-to(mobile) {
      margin-top: 30px;
    }

    h2 {
      color: #333;
      font: 50px/50px $fus;

      @include respond-to(mobile) {
        font: 40px/40px $fus;
      }
    }

    p {
      color: #333;
      font: 30px/40px $open-l;
      margin-bottom: 30px;

      @include respond-to(mobile) {
        font: 20px/20px $fus;
        margin-bottom: 20px;
      }
    }

    &-link {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;

      img {
        border-radius: 0 40px;
        @include transition;
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
      }

      a {
        position: relative;
        z-index: 1;

        p {
          color: #333;
          font: 34px/36px $fus;
          opacity: 0;
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 3;
          transform: translate(-50%, -50%);
          @include transition;

          @include respond-to(mobile) {
            font: 24px/26px $fus;
          }
        }

        &:hover {
          z-index: 2;

          p {
            opacity: 1;
          }

          img {
            opacity: .2;
            transform: scale(1.1);
            box-shadow: 0 0 30px 0 rgba(0,0,0,.7);
          }
        }
      }
    }
  }

  img {
    max-width: 100%;
    display: block;
    position: relative;
    z-index: 2;

    &.autor {

      @include respond-to(mobile) {
        display: none !important;
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 60px;

    @include respond-to(mobile) {
      grid-template-columns: 100%;
      grid-gap: 0;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 90%;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: radial-gradient(51.28% 161.16% at 48.72% 50%, #F1F4F5 0%, #BEC7CD 100%);

    @include respond-to(mobile) {
      height: 100%;
    }
  }
}