.time {
  padding: 40px 0 60px;
  margin-bottom: -40px;
  background: #333;

  @include respond-to(mobile) {
    margin-top: -30px;
  }

  h2 {
    color: $white;
    text-align: center;
    @include fusion(70px, 80px);

    @include respond-to(mobile) {
      @include fusion(38px, 48px);
    }

    &::after {
      content: '';
      width: 400px;
      height: 3px;
      display: block;
      margin: 30px auto 50px;
      background: $red-club;

      @include respond-to(mobile) {
        margin: 30px auto 30px;
        width: 200px;
      }

    }
  }

  &-item {
    color: #333;
    width: 350px;
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 16px;
    margin-right: 20px;
    @include transform(scale(1));
    @include transition;

    @include respond-to(mobile) {
      width: 300px;
      flex: 0 0 300px;
    }

    &:hover {
      @include transform(scale(1.05));
    }

    .img {
      position: relative;

      img {
        max-width: 100%;
        border-radius: 16px;
        position: relative;
        z-index: 1;
      }

      time {
        color: #fff;
        margin: 20px 20px 0;
        font: 20px/20px $open-i;
        position: absolute;
        z-index: 2;
        bottom: 40px;
        left: 32px;
        opacity: 0;

        @include respond-to(mobile) {
          font: 16px/16px $open-i;
          left: 26px;
          bottom: 30px;
        }
      }
    }
    p {
      font: 30px/36px $fus;
      margin: 15px 20px 20px;
    }

    &._none {
      cursor: default;
      filter: grayscale(1);
      opacity: .3;

      time {
        opacity: 1;
      }

      &:hover {
        @include transform(scale(1));
      }
    }
  }

  &-blank {
    flex: 0 0 60px;
  }

  &-wrapper {
    overflow-x: scroll;
    padding-bottom: 20px;

    @include respond-to(hover) {
      &::-webkit-scrollbar {
        width: 0px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba($color: $white, $alpha: .4);    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
        border: 6px solid #333;  /* padding вокруг плашки */
      }
    }
  }

  .container {
    display: flex;
  }
}