.page {
  
  img {
    max-width: 100%;
  }

  h1 {
    color: #333;
    font: 50px/60px $exo-r;
    margin-top: 50px;

    @include respond-to(hd) {
      font: 40px/50px $exo-r;
      margin-top: 30px;
    }
  }

  form {
    margin-top: 30px;

    .radio-control-border {
      margin-bottom: 40px;
      font-family: $hr;
      
      .control {
        display: block;
        position: relative;
        padding-left: 50px;
        margin-bottom: 15px;
        padding-top: 3px;
        cursor: pointer;
        font-size: 30px;
        line-height: 44px;

        @include respond-to(hd) {
          font-size: 26px;
          line-height: 40px;
        }
    
        input {
          position: absolute;
          z-index: -1;
          opacity: 0;
    
          &:checked {
    
            & ~ .control_indicator {
              border-color: #20367A;
              @include transition;
    
              &:after {
                display: block;
                @include gradient-horizontal(#20367A, #479CFF);
                @include transition;
              }

              &:before {
                opacity: 1;
                background-image: url('../img/svg/check_w.svg');
                @include transition;
              }
            }
          }
        }
    
        &_indicator {
          position: absolute;
          top: 10px;
          left: 0;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background: #fff;
          border: 1px solid #999;
          @include transition;
    
          &:after {
            box-sizing: unset;
            content: '';
            position: absolute;
            display: none;
            left: 5px;
            top: 5px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #999;
            @include transition;
          }

          &:before {
            content: '';
            width: 9px;
            height: 7px;
            display: block;
            position: absolute;
            top: 12px;
            left: 10px;
            z-index: 5;
            opacity: 0;
            background-image: url('../img/svg/check_g.svg');
            @include transition;
          }
        }
    
        &:hover {
    
          .control_indicator {

            &:before {
              opacity: 1;
              @include transition;
            }
          }
        }
      }
    }
  }

  button {
    margin-top: 40px;
  }

  &-footer {
    margin: 60px auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include respond-to(extra) {
      margin: 80px auto 20px;
    }

    p {
      color: #ccc;
      font: 14px/14px $hr;
    }

    svg {
      width: 362.5px;
      height: 50px;

      path {
        fill: #233F85;
      }
    }
  }
}