// Basic Styles
* {
  outline: none;
}

body {
  background: $bg;
  font-family: $open-r;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

}
::selection {
  color: $red;
  background: #000;
}
::-moz-selection {
  color: $red;
  background: #000;
}
::-webkit-selection {
  color: $red;
  background: #000;
}

select {
  opacity: 0;
}

.fix-display {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// Typography
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit;}

em, i {font-family: $open-i;}
strong, b {font-family: $open-b;}
strong em, em strong, b i, i b {font-family: $open-bi}
small {font-size: 80%;}

// Links
a {
  color: $red;
  outline: 0;
  @include transition;

  &.full-version {
    color: #fff;
    font-family: $open-sb;
    padding: 15px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    background: $red-dark;
  }

  &[href^="http://savefrom.net/"] {display: none !important;}

  @include respond-to(hover) {
    &:hover {
      color: $red-dark;
      text-decoration: none;
    }
  }
}

// Form
input, textarea {
  -webkit-appearance: none;
  outline: none;
}
