@-webkit-keyframes pulseBlue {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 109, 199, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(0, 109, 199, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 109, 199, 0);
  }
}
@keyframes pulseBlue {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 109, 199, 0.6);
    box-shadow: 0 0 0 0 rgba(0, 109, 199, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(0, 109, 199, 0);
      box-shadow: 0 0 0 10px rgba(0, 109, 199, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 109, 199, 0);
      box-shadow: 0 0 0 0 rgba(0, 109, 199, 0);
  }
}

@-webkit-keyframes pulseRed {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(255,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}
@keyframes pulseRed {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,0,0, 0.6);
    box-shadow: 0 0 0 0 rgba(255,0,0, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(255,0,0, 0);
      box-shadow: 0 0 0 20px rgba(255,0,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
      box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

@-webkit-keyframes pulseWhite {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(142,145,230, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(142,145,230, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(142,145,230, 0);
  }
}
@keyframes pulseWhite {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(142,145,230, 0.6);
    box-shadow: 0 0 0 0 rgba(142,145,230, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(142,145,230, 0);
      box-shadow: 0 0 0 20px rgba(142,145,230, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(142,145,230, 0);
      box-shadow: 0 0 0 0 rgba(142,145,230, 0);
  }
}