// Variables
@import 'variables/color';

// Mixin
@import 'mixin/fonts';
@import 'mixin/css3';
@import 'mixin/gradient';
@import 'mixin/respond';

// Layout
@import 'layout/reset';
@import 'layout/base';
@import 'layout/button';
@import 'layout/desktop';
@import 'layout/hack';


.page-amarok {
	background: $bg;
	min-width: 960px;

  * {outline: none;}

	.nav {
		background: rgba(0, 0, 0, .6);
		padding: 10px 0;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			li {

				a {
					color: #fff;
					font: 20px $open-l;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						color: $red;
					}
				}

				img {
					width: 40px;
				}

				&:nth-of-type(1) {

					img {
						display: block;
						margin-top: 1px;
					}
				}

				&:nth-of-type(3),
				&:nth-of-type(5) {
					width: 1px;
					height: 15px;
					border-right: 1px solid #fff;
				}

				&:nth-of-type(7) {

					img {
						display: block;
						margin-top: 0.5px;
					}
				}
			}
		}
	}

	.main {
		margin-bottom: -20px;

		&-about {
			width: 100%;
			height: 100vh;
			background: url('../img/bg/about.jpg') top center no-repeat;
			background-attachment: fixed;
			background-size: cover;

			&-title {
				color: rgba(0, 0, 0, .9);
				font: 60px/78px $open-b;
				padding: 0 0 25px;
				width: 100%;
				position: relative;
				text-align: center;
			}

			&-content {
				width: 100%;
				position: absolute;
				bottom: -340px;
				@include transition-delay(all 350ms ease-in-out, 0);
				@include respond-to(laptop) {
					bottom: 10px !important;
				}

				&.anim-block {
					opacity: 0;
				}

				&.anim-start {
					opacity: 1;
					bottom: 100px;
				}
			}

			&-text {
				color: #000;
				font: 27px/35px $open-l;
				padding: 25px 10px 35px 30px;
				background: rgba(255, 255, 255, .8)
			}
		}

		&-map {
			width: 100%;
			height: 330px;
			position: relative;
			background: #000 url('../img/bg/map.jpg') top center no-repeat;
			border-top: 2px solid $red;
			border-bottom: 2px solid $red;

			&-close {
				width: 18px;
				height: 18px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				cursor: pointer;
				bottom: 10px; right: 10px;
				background: rgba(0, 0, 0, .4);
				@include transition-delay(all 250ms ease-in-out, 0);

				&:before {
					content: '+';
					color: #fff;
					font: 20px $open-r;
					display: block;
					@include transform(rotate(45deg));
				}

				&:hover {
					background: rgba(0, 0, 0, .8);
				}
			}
		}

		&-road {
			width: 100%;
			height: 455px;
			background: url('../img/bg/road.jpg') top center no-repeat;
			background-size: cover;
			background-attachment: fixed;

			&-title {
				color: #fff;
				font: 26px $open-r;
				text-align: center;
				padding-top: 35px;
				text-transform: uppercase;
			}

			.swiper {

				&-container {
					width: 98%;
					height: 360px;
					margin: 20px auto 0;
				}

				&-slide {
					width: 300px;

					&-item {
						height: 250px;
						margin-top: 20px;
						position: relative;
						border-bottom: 6px dashed #fff;

						&_img {
							position: relative;

							img {
								display: block;
								box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
							}

							span {
								color: #fff;
								font: 25px $open-b;
								display: inline-block;
								margin: 19px 0 0 66px;
								padding: 5px 15px;
								background: #007eff;
								border: 2px solid #fff;
								border-radius: 5px;
								opacity: 0;
							}

							&:before {
								content: '';
								width: 3px;
								height: 55px;
								display: block;
								position: absolute;
								top: 177px; left: 41px;
								background: #fff;
							}

							&:after {
								content: '';
								width: 17px;
								height: 17px;
								display: block;
								position: absolute;
								bottom: -39px; left: 30px;
								background: #fff;
								border-radius: 100%;
								border: 5px solid $red;
							}
						}

						&_city {
							color: #fff;
							font: 22px $open-r;
							position: absolute;
							bottom: -50px; left: 15px;
						}

						&.active {
							border-color: $red;

							.swiper-slide-item_img span {opacity: 1;}
						}
					}
				}

				&-scrollbar {
					background: rgba(255, 255, 255, .2);

					&-drag {
						background: rgba(255, 255, 255, .5);
					}
				}
			}
		}

		&-blog {
			width: 100%;
			background: url('../img/bg/blog.jpg') top center no-repeat;
			background-size: cover;
			background-attachment: fixed;
			padding-bottom: 40px;

			&-title {
				color: #fff;
				font: 26px $open-r;
				text-align: center;
				padding: 35px 0;
				margin-bottom: 30px;
				text-transform: uppercase;
				border-bottom: 2px solid rgba(255, 255, 255, .6);
			}

			&-wrapp {
				padding-bottom: 35px;
				background: url('../img/dotted.png') top center repeat-y;

				&_item {
					color: #fff;
					text-decoration: none;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					margin-bottom: 57px;

					.images {
						width: 440px;
						position: relative;

						img {
							max-width: 100%;
							display: block;
							box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
						}
					}

					.dotted {
						width: 15px;
						height: 15px;
						display: block;
						border: 3px solid $red;
						margin-top: -5px;
						border-radius: 100%;
						background: #fff;
					}

					.content {
						width: 440px;

						&-title {
							font: 22px/26px $open-r;
							margin-bottom: 20px;
						}

						&-text {
							font: 16px/22px $open-r;
							margin-bottom: 20px;
						}

						&-link {
							font: 14px $open-b;
							text-transform: uppercase;
							display: inline-block;
							position: relative;
							@include transition-delay(all 350ms ease-in-out, 0);

							&:after {
								content: '»';
								font: 18px $open-r;
								position: absolute;
								top: -6px; right: -13px;
								@include transition-delay(all 350ms ease-in-out, 100ms);
							}

							&:hover {
								color: $red;

								&:after {
									right: -18px;
								}
							}
						}
					}

					&:nth-of-type(even) {
						flex-direction: row-reverse;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&-button {
				text-align: center;
				margin-top: 30px;

				a {
					color: #fff !important;
				}
			}
		}
	}

	.page {

		&-title {
			width: 100%;
			height: 100vh;
			overflow: hidden;
			position: relative;
			background-position: top center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: space-between;

			&-bar {
				width: 100%;
				position: absolute;
				background: #fff;
				z-index: 100;
				opacity: 0;
				box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
				@include transition-delay(all 350ms ease-in-out, 0);

				&_title {
					overflow: hidden;
					position: relative;
					color: #333;
					white-space: nowrap;
					font: 30px $open-r;
					@include respond-to(laptop) {width: 86%;}
					@include respond-to(mac) {width: 88%}


					&:after {
						content: '';
						width: 60px;
						position: absolute;
						top: 0; bottom: 0; right: 0;
						z-index: 1;
						background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%);
						background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%);
						background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%);
					}
				}

				.container {
					height: 70px;
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: center;

					.ya-share2 {

						&__item {
							margin: 5px 10px 5px 0;
						}

						&__icon {
							width: 30px;
							height: 30px;
						}

						&__badge {
							border-radius: 0;
						}
					}
				}
			}

			.header {
				padding: 70px 0 10px;
				position: relative;
				z-index: 2;

				h1 {
					color: #fff;
					font: 50px/60px $open-b;

					span {
						color: #a8a8a8;
						font: 18px $open-i;
						display: block;
						margin-top: 25px;
					}
				}
			}

			&:before {
				content: '';
				width: 100%;
				height: 35vh;
				display: block;
				position: absolute;
				bottom: 0;
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 96%, rgba(0,0,0,0.65) 100%);
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%);
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%);
			}
		}

		&-content {
			color: #333;

			h2 {
				font: 35px/42px $open-r;
				padding: 30px 90px 20px;
			}

			h3 {
				font: 25px/32px $open-r;
				padding: 30px 90px 20px;
			}

			p {
				font: 22px/34px $open-l;
				padding: 0 90px;

				&.intro {
					font-family: $open-r;
					margin-top: 40px;
				}
			}

			b, strong {
				font-family: $open-r;
			}

			i, em {
				font-family: $open-i;
			}

			b + i, i + b,
			strong + em, em + strong,
			b + em, em + b,
			strong + i, i + strong {font-family: $open-i;}

			blockquote {
				font: 22px/34px $open-i;
				padding: 20px 35px;
				margin: 0;
				position: relative;

				i, em {
					font-family: $open-i
				}

				b, strong {
					font-family: $open-bi;
				}

				p {
					font: inherit;
					padding: 0;
					margin: 0;
				}

				&:before {
					content: '«';
					color: $red;
					font: 65px $open-l;
					position: absolute;
					top: -14px; left: -5px;
				}
			}

			ul, ol {
				margin: 40px 90px 40px 120px;

				li {
					font: 22px/34px $open-l;
					margin-bottom: 10px;
					position: relative;
				}
			}

			ul {

				li {

					&:before {
						content: '';
						width: 8px;
						height: 8px;
						display: block;
						position: absolute;
						top: 12px; left: -20px;
						border-radius: 100%;
						background: $red;
					}
				}
			}

			ol {
				counter-reset: ol-counter;

				li {

					&:before {
						content: counter(ol-counter) '.';
						counter-increment: ol-counter;
						color: $red;
						font: 22px $open-r;
						display: block;
						position: absolute;
						top: 4px; left: -25px;
					}
				}
			}

			.photobox {
        margin: 30px 0;

				div, a {
					position: relative;

					img + span {
						text-align: center;
						display: block;
					}
				}
			}

			.slick {

				&-slider {
					position: relative;
				}

				&-slide {
					opacity: .2;
					outline: none;
					@include transition;
				}

				&-active {
					opacity: 1;
					@include transition;
				}

				&-arrow {
					color: #333;
					position: absolute;
					height: 55px;
					top: 50%;
					margin-top: -37.5px;
					font-size: 0;
					background: transparent;
					opacity: .5;
					outline: none;
					z-index: 10;
					@include transition;

					&:hover {
						color: $red;
						opacity: .8;
					}
				}

				&-next {
					right: 35px;

					&:before {
						content: $arrow-l;
						font: 80px $icon;
						display: block;
					}
				}

				&-prev {
					left: 35px;

					&:before {
						content: $arrow-l;
						font: 80px $icon;
						display: block;
						@include transform(rotate(180deg));
					}
				}

				&-dots {
					width: 100%;
					position: absolute;
					bottom: 30px;
					padding: 0;
					margin: 0;
					display: flex !important;
					justify-content: center;

					li {
						width: 8px;
						height: 8px;
						display: block;
						font-size: 0;
						margin: 0 4px;
						padding: 0;
						border-radius: 100%;
						background: rgba(255, 255, 255, .4);
						@include transition;

						&:hover, &.slick-active {
							background: rgba(255, 255, 255, .8);
							cursor: pointer;
							@include transition;
						}

						&:before {
							display: none;
						}
					}
				}
			}
		}
	}

	@include respond-to(laptop) {

		.anim-block {

			.dotted {
				opacity: 0;
				@include transition-delay(all 350ms ease-in-out, 350ms);
			}

			&:nth-of-type(odd) {

				.images {
					opacity: 0;
					margin-right: 0;
					@include transition-delay(all 350ms ease-in-out, 0);
				}

				.content {
					opacity: 0;
					margin-left: 0;
					@include transition-delay(all 350ms ease-in-out, 150ms);
				}
			}

			&:nth-of-type(even) {

				.images {
					opacity: 0;
					margin-left: 0;
					@include transition-delay(all 350ms ease-in-out, 0);
				}

				.content {
					opacity: 0;
					margin-right: 0;
					@include transition-delay(all 350ms ease-in-out, 150ms);
				}
			}
		}

		.anim-start {

			.dotted {
				opacity: 1;
			}

			&:nth-of-type(odd) {

				.images {
					opacity: 1;
					margin-right: 25px;
				}

				.content {
					opacity: 1;
					margin-left: 25px;
				}
			}

			&:nth-of-type(even) {

				.images {
					opacity: 1;
					margin-left: 25px;
				}

				.content {
					opacity: 1;
					margin-right: 25px;
				}
			}
		}

		.photobox {

			&.one {

				img, div, a {
					max-width: 100%;
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
			}

			&.two {
				@include _clearfix;

				img, a, div {
					width: 475px;
					float: left;

					&:last-child {
						float: right;
					}
				}

				a {

					img {
						max-width: 100%;
					}
				}
			}

			&.sliderBox {
				min-height: 410px;

				.slick {

					&-track {
						display: flex;
						align-items: center;
					}

					&-slide {
						display: block;
						width: 450px;
						height: 300px;

						img {
							max-height: 100%;
							display: block;
							margin: 0 auto;
						}

						span {
							opacity: 0;
						}
					}

					&-active {
						width: 600px;
						height: 400px;
						display: block;
						overflow: hidden;
						background: none !important;

						img {
							max-height: 100%;
							display: block;
							margin: 0 auto;
						}

						span {
							width: 100%;
							color: #fff;
							font-size: 14px;
							text-align: center;
							padding: 45px 0 15px;
							bottom: 0;
							position: absolute;
							opacity: 1;
							background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 99%, rgba(0,0,0,0.7) 100%);
							background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 99%,rgba(0,0,0,0.7) 100%);
							background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 99%,rgba(0,0,0,0.7) 100%);
						}
					}
				}
			}
		}
	}

	@include respond-to(mac) {

		.anim-block {

			.dotted {
				opacity: 0;
				@include transition-delay(all 350ms ease-in-out, 350ms);
			}

			&:nth-of-type(odd) {

				.images {
					opacity: 0;
					margin-right: 0;
					@include transition-delay(all 350ms ease-in-out, 0);
				}

				.content {
					opacity: 0;
					margin-left: 0;
					@include transition-delay(all 350ms ease-in-out, 150ms);
				}
			}

			&:nth-of-type(even) {

				.images {
					opacity: 0;
					margin-left: 0;
					@include transition-delay(all 350ms ease-in-out, 0);
				}

				.content {
					opacity: 0;
					margin-right: 0;
					@include transition-delay(all 350ms ease-in-out, 150ms);
				}
			}
		}

		.anim-start {

			.dotted {
				opacity: 1;
			}

			&:nth-of-type(odd) {

				.images {
					opacity: 1;
					margin-right: 75px;
				}

				.content {
					opacity: 1;
					margin-left: 75px;
				}
			}

			&:nth-of-type(even) {

				.images {
					opacity: 1;
					margin-left: 75px;
				}

				.content {
					opacity: 1;
					margin-right: 75px;
				}
			}
		}

		.photobox {

			&.one {

				img, a, div {
					max-width: 100%;
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
			}

			&.two {
				@include _clearfix;

				img, a, div {
					width: 595px;
					float: left;

					&:last-child {
						float: right;
					}
				}

				a, div {

					img {
						max-width: 100%;
					}
				}
			}

			&.sliderBox {
				height: 510px;

				.slick {

					&-track {
						display: flex;
						align-items: center;
					}

					&-slide {
						width: 600px;
						height: 400px;
						display: block;

						img {
							max-height: 100%;
							display: block;
							margin: 0 auto;
						}
					}

					&-active {
						width: 750px;
						height: 500px;
						display: block;
						background: none !important;

						img {
							max-height: 100%;
							display: block;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}
}

@-moz-document url-prefix() {

	.page-amarok {

		.nav {
			position: absolute;
			width: 100%;
		}
	}
}
