.order {
  width: 580px;
  margin: 0 auto;
  padding: 60px 0;
  
  h1 {
    font: 60px/60px $fus;
    text-align: center;
    margin-bottom: 30px;

    &.min {
      font: 30px/40px $fus;
    }
  }

  .subt {
    font: 30px/30px $fus;
    text-align: center;
    margin-bottom: 40px;
    padding: 20px 0;
    border: 1px solid #f9d2d4;
    @include rgba-bg(background, #f00, .03);
    border-radius: 3px;
  }

  hr {
    width: 150px;
    height: 3px;
    border: 0;
    margin: 0 auto 40px;
    background: linear-gradient(90.15deg, #A5E9FF 4.5%, rgba(165, 233, 255, 0) 98.56%), #4799E6;
  }

  &-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    a {
      font: 20px/20px $open-sb;
      letter-spacing: .02em;
      text-transform: uppercase;
      color: #ccc;
      border: 2px solid #ccc;
      text-decoration: none;
      padding: 15px 40px;
      position: relative;
      z-index: 1;

      &:first-child {
        border-radius: 5px 0 0 5px;
        margin-right: -2px;
      }

      &:nth-of-type(2) {
        margin-right: -2px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }

      &:hover {
        color: #4799E6;
        border-color: #4799E6;
        z-index: 2;
      }

      &.active {
        color: #fff;
        z-index: 2;
        border: 0;
        padding: 17px 40px;
        background: linear-gradient(90.15deg, #A5E9FF 4.5%, rgba(165, 233, 255, 0) 98.56%), #4799E6;
      }

      &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: .4;
      }
    }
  }

  &-form {

    h2 {
      font: 30px/30px $fus;
      margin-bottom: 20px;
    }

    .add {
      margin: 20px 0 30px;
      text-align: right;

      a {

        &:before {
          content: '+';
          font: 20px/20px $open-r;
          display: inline-block;
          padding-right: 10px;
          border-radius: 100%;
        }
      }
    }

    .price {
      font: 36px/36px $open-l;
      margin-bottom: 20px;
      text-align: center;

      span {
        font: 44px/44px $open-l;
        padding-left: 20px;

        &:after {
          content: $rubl-thin;
          font: 30px/0 $icon;
          margin: 22px 0 0 10px;
          vertical-align: top;
          display: inline-block;
        }
      }
    }

    .link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      span {
        flex-basis: 400px;
        color: #999;
        font: 16px/18px $open-i;
      }

      a {
        color: #4799E5;
        font: 16px/16px $open-i;
        padding-bottom: 3px;
        text-decoration: none;
        border-bottom: 1px dashed #4799E5;

        &:hover {
          border-color: $bg;
        }
      }

      &._coll {
        display: block;

        span {
          display: block;
          width: 100%;
          font-size: 15px;
          padding-bottom: 10px;
        }

        a {
          font-size: 15px;
        }
      }
    }

    .text {
      background: #fff;
      padding: 20px 30px;
      border-radius: 5px;
      display: none;
      margin: 20px 0 30px;
      position: relative;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -20px;
        right: 40px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 20px;
        border-color: #fff transparent transparent transparent;
      }

      .t {
        font: 18px/26px $open-l;
        margin-bottom: 20px;
      }

      .ti {
        font: 18px/26px $open-l;

        span {
          color: #4799E6;
          font: 26px/26px $open-l;

          em {
            font-size: 18px;
            font-family: $open-l;
          }
        }
      }

      &-foot {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button {
          font-size: 12px !important;
        }

        .p {
          font: 18px/26px $open-l;

          span {
            font: 22px/26px $open-l;
            padding-left: 10px;

            &:after {
              content: $rubl-thin;
              font: 15px/0 $icon;
              margin: 14px 0 0 5px;
              display: inline-block;
              vertical-align: top;

            }
          }
        }
      }
    }

    #text2 {
      display: none;
    }
  }
}

.modal {
  top: 0; right: 0; bottom: 0; left: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  @include rgba-bg(background, #000, .8);

  &-wrapper {
    width: 1200px;
    background: #fff;
    position: relative;

    .closed {
      top: 0; right: 15px;
      position: absolute;
      z-index: 10;
      color: #fff;
      font: 60px/60px $open-l;
      text-decoration: none;
      @include transform(rotate(45deg));
    }

    &-img {
      padding: 30px 0;
      background: #9C9C9C;
      position: relative;

      img {
        position: relative;
        z-index: 2;
      }
    }

    &-text {
      margin: 100px;
      
      p {
        font: 40px/50px $open-l;
      }
    }
  }
}

.modal-bg {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.8);
  z-index: 1042;
}
.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  overflow-y: auto;
}
.modal-content {
  min-width: 300px;
  margin: 0 auto;
}
.modal-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  opacity: 0.6;
  z-index: 1043;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  font-size: 50px;
  color: #eee;
}